<head>

<title>Relay: <br> </title>
<link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" title="no title" charset="utf-8">
<meta charset="utf-8" /> 
	</head>
<body>
<title>relay: <br><br></title>
<div class="message">
    <strong> User : {{message.username}}  <br><br></strong>
    {{message.message}} <br><br><br>
    <footer>{{message.time}}</footer>

		</div>


</body>