
<div class = "send_message">

    <form method="POST" action="send_message">


        Type a message here! 
		<label for="message"> </label>
		<input type="text" name="message" value="">
		
		<input type="submit" value="send it!">


</form>
</div>